<nav class="navigation">
	<a href="/"><img class="logo" src="/images/logo.svg" alt="Logo of the Race Through Beskids"></a>

	<div class="menu">

		<input type="checkbox" class="menu__checkbox" id="menu-checkbox">
		<label for="menu-checkbox" class="menu__toggler"><img src="/images/ic_round-menu.svg" alt="Menu icon"></label>

		<ul class="menu__list">

			<li class="menu__item">
				<a class="menu__link {{ 'menu__link--active' if page.fileSlug === 'details' }}" href="/details/">Race Details</a>
			</li>

			<li class="menu__item">
				<a class="menu__link {{ 'menu__link--active' if page.fileSlug === 'registration' }}" href="/registration/">Registration</a>
			</li>

			<li class="menu__item">
				<a class="menu__link {{ 'menu__link--active' if page.fileSlug === 'training' }}" href="/training/">Training</a>
			</li>

			<li class="menu__item">
				<a class="menu__link {{ 'menu__link--active' if page.fileSlug === 'contact' }}" href="/contact/">Contact</a>
			</li>

		</ul>	
		
	</div>
</nav>