$font: nexa;

$primary-color: #FFC34D;
$primary-color-10: #332200;
$primary-color-20: #684500;
$primary-color-95: #FFF7E8;

$spacing: 30px;
$spacing-half: $spacing / 2;
$spacing-double: $spacing *2;
$spacing-triple: $spacing *3;
$spacing-quadruple: $spacing * 4;